@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import "./normalize/normalize";
@import "./dir/register";
@import "./mainPage";
@import "./dir/modal";
@import "./dir/header";
@import "./dir/btn";
@import "./dir/a";
@import "./dir/partners";
@import "./dir/accordeon";
@import "./dir/lastTransaction";
@import "./dir/reserves";
@import "./dir/history";
@import "./dir/footer";
@import "./dir/media";
@import "./dir/hamburger";
*{
  font-family: 'Montserrat', sans-serif;
}
body{
  background: linear-gradient(165deg, #FAF3F0, #D4E2D4, #FFCACC, #DBC4F0);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px #DBC4F0 inset !important;
}

.tac{
  text-align: center;
  a{
    margin-left: 15px;
  }
}
.red {
  font-size: 20px;
  font-weight: bold;
  color: #a61111;
}
.container {
    max-width: 1470px;
    margin: 0 auto;
}

.green-text{
  color: #3dd03d;
}
.red-text{
  color: #c73649;
}
main{
  min-height: 100vh;
}
.h1100{
  height: 100vh;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.css-1wnsr1i {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto !important;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  padding: 32px;
}