.form-currency {
  width: 400px;
  height: 500px;
  background: #ffffff;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  &-title {
    font-size: 33px;
    margin: 30px 0 30px 40px;
    font-weight: 900;
  }
  &-currency {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 25px 0px rgba(219, 219, 219, 0.3);
  }
  &-subtext {
    font-size: 10px;
    color: gray;
    line-height: 15px;
    margin: 0 40px 0 40px !important;
  }
  &-form {
    min-width: 700px!important;
    height: 500px;
  }
  &-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
  }
  &-grids {
    align-self: flex-end;
    padding: 10px;
  }
  &-gridbox {
    display: flex;
    align-items: center;
    border-top: none;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
  }
  &-control {
    display: flex;
    flex-direction: row;
  }
  &-img {
    width: 12%;
    padding-right: 10px;
  }
  &-select {
    width: 85%;
  }
}
.modal {
  &-subtext {
    display: grid;
    justify-content: center;
    padding: 20px 0 30px 0;
  }
  &-btn {
  }
  &-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  &-id {
    display: flex;
    justify-content: center;
  }
}
.tp {
  border-top: 1px solid grey;
}
.lf {
  border-left: 1px solid grey;
}
.first {
  justify-content: flex-end;
}
.fw {
  font-weight: 900;
}
.bl {
  color: blue;
}
.gr {
  color: green;
}

.MuiFormControl-root {
  margin: 0 40px 0 40px !important;
}
.input-form {
  margin-bottom: 12px!important;
}
.form-email {
  margin: 80px 40px 50px 40px!important;
}
.form-fio {
  margin: 80px 40px 0 40px!important;
}
.output {
  color: #000 ;
}
.subtext {
  padding: 20px 0 20px 0;
}
.form-currency {
  width: 400px;
  height: 500px;
  background: #ffffff;
  border-radius: 10px;
}
.form-btn-container {
  display: flex;
  justify-content: center;
}

