@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import "./normalize/normalize";
@import "./dir/register";
@import "./mainPage";
@import "./dir/modal";
@import "./dir/header";
@import "./dir/btn";
@import "./dir/a";
@import "./dir/partners";
@import "./dir/accordeon";
@import "./dir/lastTransaction";
*{
  font-family: 'Montserrat', sans-serif;
}
body{
  background-color: #1B262C;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px #BBE1FA inset !important;
}
.tac{
  text-align: center;
  a{
    margin-left: 15px;
  }
}
.red {
  font-size: 20px;
  font-weight: bold;
  color: #a61111;
}
.container {
    max-width: 1470px;
    margin: 0 auto;
  }

