.footer{
  width: 100%;
  background: black;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position:relative;
  left:0;
  bottom:0;
  a{
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
  }
  div{
    margin-bottom: 15px;
  }
}
.first_footer{
  margin-top: 15px;
}