@media (max-width: 1120px) {
  .header_link {
    font-weight: bold;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .trans {
    width: 89%;
  }
}
@media (max-width: 630px) {
  .form {
    flex-direction: column;
    &-currency {
      width: 80%;
      margin: 0 auto;
      padding: 36px;
    }
    &-form {
      min-width: 539px !important;
      height: 500px;
    }
  }
}
@media (max-width: 426px) {
  .reserves {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .accordion-title {
    padding: 10px 10px;
  }
  .form-grid {
    width: 58%;
    height: 300px;
    //font-size: 10px;
  }
  .form-grids {
    padding: 7px;
  }
  .modal-subtext {
    display: grid;
    justify-content: center;
    padding: 20px 0 30px 0;
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .form {
    flex-direction: column;
    &-currency {
      width: 80%;
      margin: 0 auto;
      padding: 13px 13px 36px 13px;
    }
  }
  .accordion-title {
    padding: 10px 0;
  }
  .footer {
    width: 100%;
    background: black;
    height: 150px;
    color: white;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 12px;
  }
}
@media (max-width: 321px) {
  .trans__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 14px;
    align-items: center;
    align-content: center;
  }
  .form-grid {
    width: 52%;
    height: 300px;
    font-size: 14px;
  }
}
@media (max-width: 982px) {
  .header__logo{
    h1{
      font-size: 1em;
      margin-right: 5px;
    }
  }
  .header{
    padding: 10px;
  }
}
@media (max-width: 840px) {
  .header_link{
    margin-right: 8px;
    font-size: 13px;
  }
}
